@using GeneralLedger.SelfService.Web.Areas.Identity.Data
@using GeneralLedger.SelfServiceCore.Services
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    var user = UserManager.FindByNameAsync(User.Identity.Name).Result;
}
 

<div class="row d-flex justify-content-center" ">
    <div class="col-md-5">
        <div class="card border-0">

            <div class="col-md-6 px-2 pt-2">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Contraseña</a></li>
                    <li class="breadcrumb-item active">Cambio Contraseña</li>
                </ul>
            </div>

            <div class="card-body">
                <div class="row p-2">
                    <div class="col-12">
                        <div class="alert alert-warning">
                            <strong>Advertencia</strong>
                            Minimo 6 caracteres
                        </div>
                    </div>
                    <div class="col-12 px-2">
                        <label class="form-label">Contraseña Actual</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fas fa-key"></i>
                            </span>
                            <input type="password" id="oldpassword" name="oldpassword" class="form-control" />
                        </div>
                    </div>
                    <div class="col-12 px-2">
                        <label class="form-label">Nueva Contraseña</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fas fa-key"></i>
                            </span>
                            <input type="password" id="newpassword" name="newpassword" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-center">
                    <button id="btn-save-password-u" type="button" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--=======================================MODAL PASSWORD=======================================-->
@section Scripts
    {
    <script type="text/javascript">

        $(document).ready(() => {
            $("#btn-save-password-u").on('click', () => { ChangePassword() });
        });

        function ChangePassword() {
            $.ajax({
                url: "@Url.Action("ChangePasswordU","Configuration")",
                type: "POST",
                data: { newPassword: $("#newpassword").val(), oldPassword: $("#oldpassword").val(), nroIdUser: "@user.NroId" },
                beforeSend: function () {
                    $('#btn-save-password-u').prop('disabled', true);
                },
                success: function (response) {
                    if (response.result) {
                        ToastAlert.fire({ icon: 'success', title: response.message });
                        window.location.href = '/';
                    } else {
                        ToastAlert.fire({ icon: 'error', title: response.message });
                    }
                },
                complete: function () {
                    $('#btn-save-password-u').prop('disabled', false);
                }
            });
        }

    </script>
}