@{
    Layout = null;
}

<div width="100%" style="padding:40px;">

    <div style="width:100%; padding-top:40px;text-align:center">
        <h4><b>CONTRATO INDIVIDUAL DE TRABAJO</b></h4>
    </div>

    <div style="width:100%; padding-top:20px;">
        <h6>Empleador: <b style="font-weight:100"></b> </h6> 
        <h6>NIT: <b style="font-weight:100"></b></h6> 
        <h6>Domicilio: <b style="font-weight:100"></b></h6>
        <h6>Trabajador: <b style="font-weight:100"></b></h6>
        <h6>Cedula de ciudadanía: <b style="font-weight:100"></b></h6>
        <h6>Dirección: <b style="font-weight:100"></b></h6>
        <h6>Teléfono: <b style="font-weight:100"></b></h6>
        <h6>Fecha de nacimiento: <b style="font-weight:100"></b></h6>
        <h6>Oficio: <b style="font-weight:100"></b></h6>
        <h6>Salario mensual: <b style="font-weight:100"></b></h6>
        <h6>Cargo: <b style="font-weight:100"></b></h6>
        <h6>Periodo de pago: <b style="font-weight:100"></b></h6>
        <h6>Fecha de inicialización: <b style="font-weight:100"></b></h6>
        <h6>Fecha de finalización: <b style="font-weight:100"></b></h6>
        <h6>Ciudad de contratación: <b style="font-weight:100"></b></h6>
        <h6>Departamento de contratación: <b style="font-weight:100"></b></h6>
        <h6>Tipo de contrato: <b style="font-weight:100"></b></h6>
    </div> 


    <div style="width:100%; padding-top:40px;">
       <p>
           Entre el EMPLEADOR y EL TRABAJADOR, de las condiciones ya dichas, identificados como aparece
           al pie de sus Firmas, se ha celebrado el siguiente contrato individual de trabajo, regido además por
           las siguientes cláusulas:
       </p>
    </div> 

    <div style="width:100%; padding-top:10px;">
       <p style="text-align:justify">
           <b>PRIMERA:</b> OBJETO. EL EMPLEADOR contrata los servicios personales del TRABAJADOR y este se
           obliga: a) a poner al servicio del empleador toda su capacidad normal de trabajo, en forma 
           exclusiva en el desempeño de las funciones propias del oficio mencionado y en las labores anexas
           y complementarias del mismo, de conformidad con las ordenes e instrucciones que le imparta EL
           EMPLEADOR directamente o a través de sus representantes, b) a no prestar directa ni
           indirectamente servicios laborales a otros EMPLEADORES, ni a trabajar por cuenta propia en el
           mismo oficio, durante la vigencia de este contrato; y c) a guardar absoluta reserva sobre los
           hechos, documentos, informaciones y en general, sobre todos los asuntos y materias que lleguen a
           su conocimiento por causa o con ocasión de su contrato de trabajo, y cuya comunicación a otras
           personas pueda causar perjuicio al EMPLEADOR, d) Prestar el servicio antes dicho personalmente,
           en el lugar del territorio de la República de Colombia que indicare EL EMPLEADOR, y
           excepcionalmente fuera de dicho territorio cuando las necesidades del servicio así lo exigieren.
           PARÁGRAFO ÚNICO: Además de las prohibiciones de orden legal y reglamentario, las partes
           estipulan las siguientes prohibiciones especiales al trabajador: 1.) Solicitar prestamos especiales o
           ayuda económica a los clientes del EMPLEADOR aprovechándose de su cargo u oficio o aceptarles
           donaciones de cualquier clase sin la previa autorización escrita del EMPLEADOR; 2) Autorizar o
           ejecutar sin ser de su competencia, operaciones que afecten los intereses del EMPLEADOR o
           negociar bienes y/o mercancías del EMPLEADOR en provecho propio, 3) Retener dinero o hacer
           efectivos cheques recibidos para el EMPLEADOR; 4) Presentar cuentas de gastos ficticios o 
           reportar como cumplidas visitas o tareas no efectuadas; 5) Cualquier actitud en los compromisos
           comerciales, personales o en las relaciones sociales, que puedan afectar en forma nociva la
           reputación del EMPLEADOR, y 6) Retirar de las instalaciones donde funcione la empresa
           elementos, maquinas y útiles de propiedad del EMPLEADOR sin la autorización escrita. 
       </p>
    </div> 

    <div style="width:100%; padding-top:20px;">
       <p style="text-align:justify">
           SEGUNDA: REMUNERACIÓN. EL EMPLEADOR pagara al TRABAJADOR por la prestación de sus servicios el salario indicado, pagadero en las oportunidades también señaladas arriba. Dentro de este pago se encuentra incluida la remuneración de los descansos dominicales y festivos de que tratan los capítulos I, II y III del titulo VIII del C.S.T. se aclara y se conviene que en los casos en los que EL TRABAJADOR devengue comisiones o cualquiera otra modalidad de salario variable, el 82.5% de dichos ingresos, constituye remuneración de la labor realizada, y el 17.5% restante esta destinado a remunerar el descanso en los días dominicales y festivos de que tratan los capítulos 1 y II del Titulo VIIII del C.S.T. 
       </p>
    </div> 
</div>