@using GeneralLedger.SelfService.Web.Areas.Identity.Data
@using GeneralLedger.SelfServiceCore.Services
@using GeneralLedger.SelfServiceCore.Services.Profilers
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http;
@using Common;
@inject UserManager<ApplicationUser> UserManager
@inject IConfiguracionService configuracionService
@inject IProfilerService profilerService
@inject IHttpContextAccessor contextAccessor
@{
    var userInSession = await UserManager.GetUserAsync(User);
    string KeyConnection = userInSession.KeyConnection;
    var configuraciones = await profilerService.GetInstancia().ProConfiguracion.GetConfiguraciones(KeyConnection);
    var logo = configuraciones.Where(x => x.Clave == "LOGO_EMPRESA").Select(x => x.Valor).FirstOrDefault();
}

<!-- BEGIN #header -->
<div id="header" class="app-header">
    <!-- BEGIN mobile-toggler -->
    <div class="mobile-toggler">
        <button type="button" class="menu-toggler" data-toggle="sidebar-mobile">
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </div>
    <!-- END mobile-toggler -->
    <!-- BEGIN brand -->
    <div class="brand">
        <div class="desktop-toggler">
            <button id="minify" type="button" class="menu-toggler" data-toggle="sidebar-minify">
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        </div>

        <a href="/" class="brand">
            <img src="@logo" alt="" height="30" />
        </a>
    </div>
    <!-- END brand -->
    <!-- BEGIN menu -->
    <div class="menu">
        @*<form class="menu-search" method="POST" name="header_search_form">
            <div class="menu-search-icon"><i class="fa fa-search"></i></div>
            <div class="menu-search-input">
                <input type="text" class="form-control" placeholder="Search menu..." />
            </div>
        </form>*@
        @*<div class="menu-item dropdown ms-auto">
            <a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link">
                <div class="menu-icon"><i class="fa fa-bell nav-icon"></i></div>
                <div class="menu-label">0</div>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-notification">
                <h6 class="dropdown-header text-gray-900 mb-1">Notifications</h6>
                <div class="dropdown-notification-item bg-white">
                	No record found
                </div>
                <div class="p-2 text-center mb-n1">
                    <a href="#" class="text-gray-800 text-decoration-none">See all</a>
                </div>
            </div>
        </div>*@
        <div class="menu-item dropdown ms-auto">
            <a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link">
                <div class="menu-img online">
					<div class="d-flex align-items-center justify-content-center w-100 h-100 bg-gray-800 text-gray-300 rounded-circle overflow-hidden">
						<i class="fa fa-user fa-2x mb-n3"></i>
					</div>
				</div>
                @if(User.Identity.IsAuthenticated)
                {
                   
                        if (!(userInSession.PriNombre == "" || userInSession.PriNombre == null))
                        {
                            <div class="menu-text">
                                @userInSession.PriNombre @userInSession.PriApellido
                            </div>
                        }
                        if ((userInSession.PriNombre == "" || userInSession.PriNombre == null))
                        {
                            <div class="menu-text">
                                @userInSession.Nombre
                            </div>
                        }
  
                }
            </a>
            <div class="dropdown-menu dropdown-menu-end me-lg-3">
                @*<a class="dropdown-item d-flex align-items-center" href="#">Edit Profile <i class="fa fa-user-circle fa-fw ms-auto text-gray-400 f-s-16"></i></a>
                <a class="dropdown-item d-flex align-items-center" href="#">Inbox <i class="fa fa-envelope fa-fw ms-auto text-gray-400 f-s-16"></i></a>
                <a class="dropdown-item d-flex align-items-center" href="#">Calendar <i class="fa fa-calendar-alt fa-fw ms-auto text-gray-400 f-s-16"></i></a>*@
               @* <a class="dropdown-item d-flex align-items-center" href="#">Configuraciones <i class="fa fa-wrench fa-fw ms-auto text-gray-400 f-s-16"></i></a>*@
               @* <a class="dropdown-item d-flex align-items-center" id="btn-change-password"><i class="fa fa-lock fa-fw ms-auto text-gray-400 f-s-16"></i></a>*@
                <a asp-controller="Configuration" asp-action="ChangePassword" class="dropdown-item d-flex align-items-center">Cambiar Constraseña  <i class="fa fa-lock fa-fw ms-auto text-gray-400 f-s-16"></i></a>
                <div class="dropdown-divider"></div>
                <a asp-controller="Auth" asp-action="LogOut" class="dropdown-item d-flex align-items-center">Log Out <i class="fa fa-toggle-off fa-fw ms-auto text-gray-400 f-s-16"></i></a>
            </div>
        </div>
    </div>
    <!-- END menu -->
</div>
<!-- END #header -->

